<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/home/riyo/project/views/partials/style.css">
    <title><%= title %></title>
</head>

<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>


<style>
  body {
    font-family: "Lato", sans-serif;
    
  }
  
  .sidepanel  {
    width:0;
    position:fixed;
    z-index: 1;
    height:100%;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f8f4f4;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #7043da;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size:25px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
  </style>
  </head>
  <body>

  <div id="mySidepanel" class="sidepanel">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <% if(req.session.user)
    {%>
    <a style="color: rgb(245, 46, 212);">Hi! <%=  username%></a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/course1">Courses</a>
    <a href="/event1">Gallery</a>
    <a href="/contact">Contact</a>
    <a href="/logout">Logout</a>
    <%}else{%>
      <a href="/login">Login</a>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/course1">Courses</a>
      <a href="/event1">Gallery</a>
      <a href="/contact">Contact</a>
      <%}%>    	

  </div>
  
  <script>
  function openNav() {
    document.getElementById("mySidepanel").style.width = "25px";
  }
  
  function closeNav() {
    document.getElementById("mySidepanel").style.width = "0";
  }
  </script>


     
  </body>
   
 


