<%-include('partials/header.ejs');-%>

<!DOCTYPE html>

<html lang="en"  style="size: 100vw;">
  <head>
    <title>Vision Computers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

    
  </head>
  <body  > 



    <!-- END nav -->
    <section style="background-color: rgb(3, 3, 3);">          <button class="openbtn" onclick="openNav()">☰ Menu</button> 
    </section>
    <section class="ftco-section-3 img" style="background-image: url(images/bg-77.jpg);size: 100vw;height: 60vw;">

      <div class="">             
   
        <div class="container">

        <div class="row d-md-flex justify-content-center">

          <div class="col-md-9 about-video text-center">
          </div>
        </div>
        </div>
      </section>
  
 <section class="ftco-section">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(images/vl.jpeg); width: 70vw;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
              <h2 class="mb-4">About Vision Computers</h2>
              <p>A platform which provides technical courses for not only students but for everyone those who are willing to learn the modern technologies</p>
              <p>Provides courses like MS_CIT, Basics of computer, Smartphone handling, etc.</p>
                      <p>The institute also offers placements to near about 200 students every year and train Womens for their development to stand with dignity in the society, Internet training to senior citizens and housewives. Apart from this institute also conducts avtivies and programs like Women's day program</p>
            </div>
          </div>
        </div>
      </section>


   
		
		

     
   <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-color: black;">
    	
		<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with love</i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Developed by Riya Terkhedkar
  
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	
  </footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>
