<%-include('partials/header.ejs');-%>

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Vision Computers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
     <style>
    @import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* BODY */
#bg1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
}




/* JUMP */
h1 {
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  display: block;
  text-align: center;
}

h1 span {
  position:-ms-page;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 3s ease infinite alternate;
  font-size: 8vw;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */#bg1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: transparent;
}
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

    </style>
    
  </head>
  <body> 



    <!-- END nav -->
    
    <div class="" style="background-image: url('images/img25.jpg');   background-size: 110vw; background-repeat: no-repeat;">


      <div id="bg1">
        <button class="openbtn" onclick="openNav()" >☰ Menu</button>  
        <img src="images/lgo.png" height="30%" width="15%" style="float:right">

      <h1>
        <span>V</span>
        <span>I</span>
        <span>S</span>
        <span>I</span>
        <span>O</span>
        <span>N</span>
      </br>
        <span>C</span>
        <span>O</span>
        <span>M</span>
        <span>P</span>
        <span>U</span>
        <span>T</span>
        <span>E</span>
        <span>R</span>
        <span>S</span>

      </h1></div>

        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">

          <div class="col-md-8 ftco-animate text-center" style="background-repeat: no-repeat;">
            
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">About Teachers of Vision Computers</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(images/veena.jpeg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Veena Bhilegaonkar</a></h3>
        					<p class="ftco-social d-flex">
                    +91 9967359682</br>
                    +91 9421273046</br>
                    +91 9325332178
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p style="text-align: center;"> DIRECTOR</p><p style="text-align: center;">(Center Coordinator)</p>
        			</div>
        		</div>
          </div>
          <div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(images/niranjan.jpeg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Niranjan Pathak</a></h3>
        					<p class="ftco-social d-flex">
                    +91 7420949665</br>
                    +91 8806043984
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p style="text-align: center;"> </br></br>ASSISTANT</p><p style="text-align: center;">(Center Coordinator)</p>
        			</div>
        		</div>
        	</div>
          <div class="col-lg-4 mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(images/riya.jpeg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Riya Terkhedkar</a></h3>
        					<p class="ftco-social d-flex">
                    +91 7249407072</br>
                    +91 9284970819
		              </p>
        				</div>
        			</div>
        			<div class="text">
        				<p style="text-align: center;"></br></br>Contact here for developing your own website</p><p style="text-align: center;"></p>
        			</div>
        		</div>
        	</div>
        	
        </div>
      </div>
    </section>

   
		
		

     
    <footer class="ftco-footer ftco-bg-dark ftco-section img" style="background-color: black;">
    	
      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Developed by Riya Terkhedkar

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  
</footer>
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>